<?php
declare(strict_types=1);

namespace Config;

use MediaServer\Config\Contract\Config as ConfigInterface;

use function dirname;

final class Config implements ConfigInterface
{
    public function redirectRootTo(): string
    {
        return 'http://localhost:8001/';
    }

    public function allowOrigin(): string
    {
        return 'http://localhost:8001/';
    }

    public function fileSourceUrl(): string
    {
        // With vagrant you can check the ip you have when vagrant ssh'ing and use that
        return 'http://10.0.2.2:8001/files';
    }

    public function cachePath(): string
    {
        return dirname(__DIR__, 2) . '/cache';
    }

    public function cacheDeleteKey(): string
    {
        return 'change this to some long random string, has to match with file source and media server';
    }

    public function thumbQuality(string $format): int
    {
        /*
         * PNG:
         * The first digit (tens) is the zlib compression level, 1-9.
         * However if a setting of '0' is used you will get Huffman compression rather than 'zlib' compression,
         * which is often better! Weird but true!
         * The second digit is the PNG data encoding filtering (before it is compressed) type:
         * 0 is none, 1 is "sub", 2 is "up", 3 is "average", 4 is "Paeth", and 5 is "adaptive".
         */

        return match ($format) {
            default => 70,
            'jpg' => 75,
            'avif' => 50,
            'png' => 55,
        };
    }

    public function allowedSizes(): array
    {
        return [
            240, 480, 720, // Default view
            72, 144, 216, // Compact view
        ];
    }

    public function allowedFiletypes(): array
    {
        return ['avif', 'jpg', 'png', 'mp4', 'm4a'];
    }
}
